/.vscode
/airinvaders.c
/airinvaders.exe
/binaryop.c
/binaryop.exe
/countbit.c
/countbit.exe
/createBST.exe
/fightgame.c
/fightgame.exe
/firstcoding.c
/firstcoding.exe
/funpoint.exe
/minarray.c
/minarray.exe
/plan
/planes.c
/planes.exe
/redblack.exe
/suduko.c
/suduko.exe
/test1.c
/test1.exe
/tstList.exe
/tstStack.exe
/tst_doublelink.c
/tst_doublelink.exe
/zigzag.c
/zigzag.exe